<div class="SideBar full background is-flex is-flex-direction-column">
	<div>
		<div class="top-sidebar is-flex is-justify-content-center is-align-items-center">
			<img
				src="{{ site.baseurl }}/assets/images/AliceCastRed.png"
				class="image logo"
			/>
		</div>
	</div>
	
	<div>
		<aside class="menu"> 
			<ul class="menu-list">
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/index.html"> 
						<span class="menu-txt">Inicio</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/aulas.html"> 
						<span class="menu-txt">Aulas</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/cursos.html"> 
						<span class="menu-txt">Cursos</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/podcasts.html"> 
						<span class="menu-txt">Podcasts</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/autores.html"> 
						<span class="menu-txt">Autores</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/software.html"> 
						<span class="menu-txt">Software</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
				<li>
					<a class="item-menu has-text-white-ter" href="{{ site.baseurl }}/about.html"> 
						<span class="menu-txt">Sobre</span>
						<i class="fa-solid fa-house mx-4"></i>
					</a>
				</li>
			</ul>
		</aside>
	</div>
	
</div>