<nav class="is-flex"  style="width: 87vw;">
    <div class="nav-item is-flex is-flex-grow-1 is-align-items-center ml-6">
        <h5 class="is-size-1-mobile"><a class=" LinkName mr-2"></a>/<a class="ml-2">STREAM</a></h5>
        <input class="input ml-6 mr-6" placeholder="Pesquisar" />
    </div>
    <div class="nav-item is-flex is-flex-grow-1 is-align-items-center is-justify-content-flex-end mr-6">
        <h4 class="usuario is-size-6 mr-4">Bem vindo</h4>
        <figure class="image is-32x32 ">
            <img 
                class="is-rounded"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFqZMMWnIwg5s5uicldr-MVKpmu_2e1KWaIm2wNzp-Oqs4uyaqRGY8TFhBHIdWOMFMYPs&usqp=CAU" 
            />
        </figure>
    </div>
</nav>


<style type="text/css">

</style>
