<ul>
    {% for curso in site.cursos %}
    <li>
        <a href='{{ site.baseurl }}{{ curso.url  }}' >
            <div class="card mx-1 my-1">
                <div class="card-image">
                    <figure class="image is-1by1">
                        <img src="../assets/cursos/{{ curso.title }}/header.jpeg">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content my-2">
                        <h1 class="title is-size-4">{{  curso.title }}</h1>
                        <h3 class="subtitle is-size-6">{{ curso.description  }}</h3>
                    </div>
                </div>  
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
 

 <style type="text/css">
	.card{
		width: 100%;
        height: auto;
	}
    ul{
        list-style: none;
        padding: 0;
        display: flex;
    }
    li {
        margin-right: 20px; /* Espaçamento entre os itens */
    }
    /*  */

</style>
