<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

	<title>
        {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}
    </title>

<body>

</body>

</head>
<div class="is-flex is-flex-direction-row fullheight">
	<div class="is-flex-grow-0">
		{% include layout/SideBar.html %}
	</div>

	<div class="is-flex-grow-5 is-flex is-flex-direction-column">
		{% include layout/TopBar.html %}
		{{ content }}
	</div>
</div>

<style>
	.fullheight{
		height: 100vh;
	}
	.body{
		margin: 0;
		padding: 0;
	}
</style>